
* {
  background-color: rgba(245, 243, 235, 1);
}

.mainField {
  width: 420px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.owner {
  font-weight: 600;
  font-size: 24px;
}
.coords{
        width: 37px;
        height: 37px;
        text-align: center;
        padding: 9px 9px;
        font-weight: 600;
}
.grid-container{ width: fit-content;
              height: fit-content;
              display: grid;
              grid-template-columns: repeat(10, 37px);
              grid-template-rows: repeat(10, 37px);
              border: 2px solid #7a93a8;
              border-radius: 8px;
              box-sizing: border-box;}
.cell{
      width: 37px;
      height: 37px;
      border: 1px solid #c2d1dc; 
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
}
.info{ margin-top: 10px;
            width: 100%;
            flex: 1;
            border: 2px solid #7a93a8;
            border-radius: 8px;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;         
            gap: 12px;               
            align-items: center;      
            align-content: flex-start;
}
.info>*{
    margin:3px;
}
.ship-wrapper {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  cursor: grab;
}

.ship-wrapper:active {
  cursor: grabbing;
}